@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.btn {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: lightgray;
}